* {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

  a{
    
    color:#fff;
  }

  body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  p {
    font-family: sans-serif;
    text-decoration: none; /* remove sublinhado padrao */
  }
  
  header{
    background-color: #0026ad;
    height: 92px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    line-height: 100px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  header p{
    font-size: 16px;
  }
  
  nav{
    width: 90vw;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  .nav-list {
    display: flex;
  }
  
  .nav-list li {
    display: flex;
    justify-content: space-between;
    padding-left: 24px;
    font-size: 18px;
  }

  main{
    width: 80%;
    margin: 0 auto;
    padding: 25px 20px 14px 20px;
    min-height: calc(100vh - 92px - 66px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: normal;
    margin-top: 100px; /* Adiciona espaço extra para compensar a altura do header */
  }

  article{
    background-color: rgb(251, 255, 129);
    padding:20px;
    margin-bottom: 20px;
    border-radius:5px;
  }

  article:last-child{
    margin-bottom: 0;
  }

  article h3{
    margin: 10px 0 25px 0;
    line-height: 24px;
  }

  article p{
    margin-top: 16px;
    line-height: 24px;
  }

  .card {
    width: 220px;
    height: fit-content;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ccc;
    transition: transform 0.3s ease-in-out;
  }

.card h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.card p {
  font-size: 1em;
  margin-bottom: 15px;
}

.card-footer {
  color: #888;
  font-size: 0.8em;
}

  footer{
    margin-top: auto;
    background-color: #0026ad;
    color: #fff;
    padding: 24px 0px;
    max-height: 66px;
  }

  footer .rodape{
    width: 90vw;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  .rodape p { 
    display: flex;
    padding-left: 24px;
    font-size: 16px;
  }


  @media (max-width: 800px) {  /* quando a tela for menor do que 800 pixels */
    nav{
      width: 90vw;
      display: flex;
      margin: 0 auto;
      justify-content: start; /* posiciona no inicio */
    }

    main{
      width: 90%;
      display: flex;
      flex-wrap: wrap;
    }

    .card {
      width: 100%;
    }
}
